<header>
  <mat-toolbar color="primary" class="header">
    <mat-toolbar-row>
      <span  class="logo" routerLink="/users-list">My App</span>
      <span
        routerLink="/users-list"
        style="cursor: pointer"
        class="material-icons"
      >
        home
      </span>

      <span class="example-spacer"></span>
      <div class="header-right-side">
        <button
          mat-icon-button
          (click)="openDialog('0ms', '0ms')"
          class="example-icon"
          aria-label="Example icon-button with menu icon"
        >
          <span class="material-icons"> logout </span>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
<router-outlet></router-outlet>
