.header {
  width: 100%;
  background-color: #9F1C6B;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .example-spacer {
    flex: 1 1 auto;
  }
  .img-container {
    height: 50px;
    img {
      height: 100%;
    }
  }
  .logo {
    cursor: pointer;
  }

  .header-right-side {
    display: flex;
    align-items: center;
  }
}
