.svg-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.title-container {
  padding-top: 20px;
  width: 100%;
  text-align: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
